//---------------
//--- InOrbis ---
//---------------
$color-inorbis-green: rgba(0, 160, 105, 1) !default;
$color-inorbis-grey: rgba(35, 35, 35, 1) !default;
$color-inorbis-grey-35: rgba(35, 35, 35, .35) !default;
$color-inorbis-lightgrey: rgba(53, 53, 53, 1) !default;
$color-inorbis-white: rgba(255, 255, 255, 1) !default;
$color-inorbis-black-35: rgba(0, 0, 0, .35) !default;
$color-inorbis-black-85: rgba(0, 0, 0, .85) !default;
$text-shadow-color-black: rgba(0, 0, 0, 1) !default;
$box-shadow-color-black: rgba(0, 0, 0, 1) !default;

body {
	font-family: Montserrat, sans-serif;
	color: $color-inorbis-white;
	background-color: $color-inorbis-grey;
}
h1, h2, h3, h4, h5, h6 {
		color: $color-inorbis-white;
		text-shadow: 2px 2px $text-shadow-color-black;
}

  //---
  //--- BOOTSTRAP - OVERRIDE (so body goes to the left and right edges)
  //---
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px; 
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.vertical-center {
	min-height: 100%;
	//min-height: 100vh;
	display: flex;
	align-items: center;
}

.vertical-top {
	min-height: 100%;
	//min-height: 100vh;
	display: flex;
	align-items: top;
}
//---------------
//--- Colors
//---------------

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		@include hover-focus {
			color: $color-inorbis-green;
		}
	}
}

em,
li {
  > a {
  	@include hover {
  		color: $color-inorbis-green;
  	}
  }
}

/* Links */
a {
	color: $color-inorbis-green;

	@include hover-focus {
		color: darken($color-inorbis-green, 7%);
	}
}

em > a,
li > a {
  color: $color-inorbis-white;
}

em > a:hover,
li > a:hover {
  color: darken($color-inorbis-green, 7%);
}

.text-uppercase-small-caps {
    text-transform:capitalize;
    font-variant:small-caps;
}
//---------------
//--- Selection
//---------------

@include selection($color-white, $color-inorbis-green);


//---------------
//--- Button
//---------------

.s-btn--white-bg { @include btn-style($color: $color-dark, $hvr-color: $color-inorbis-green, $bg: $color-white, $hvr-bg: $color-white); }
.s-btn--dark-bg { @include btn-style($color: $color-white, $hvr-color: $color-white, $bg: $color-dark, $hvr-bg: $color-inorbis-green, $brd-width: .0625rem, $brd-style: solid, $brd-color: $color-dark, $hvr-brd-color: $color-inorbis-green); }
.s-btn--primary-bg { @include btn-style($color: $color-white, $hvr-color: $color-white, $bg: $color-inorbis-green, $hvr-bg: $color-inorbis-green, $brd-width: .0625rem, $brd-style: solid, $brd-color: $color-inorbis-green, $hvr-brd-color: $color-inorbis-green); }
.s-btn--primary-brd { @include btn-style($color: $color-inorbis-green, $hvr-color: $color-white, $bg: transparent, $hvr-bg: $color-inorbis-green, $brd-width: .0625rem, $brd-style: solid, $brd-color: $color-inorbis-green, $hvr-brd-color: $color-inorbis-green); }

//---------------
//--- Theme Icons
//---------------

.s-icon--white-brd { @include icon-style($color: $color-white, $hvr-color: $color-white, $bg: transparent, $hvr-bg: $color-inorbis-green, $brd-width: .0625rem, $brd-style: solid, $brd-color: $color-white, $brd-hvr-color: $color-inorbis-green, $line-height: 1.4); }
.s-icon--white-bg { @include icon-style($color: $color-dark, $hvr-color: $color-inorbis-green, $bg: $color-white, $hvr-bg: $color-white, $brd-width: .0625rem, $brd-style: solid, $brd-color: $color-white, $brd-hvr-color: $color-white, $line-height: 1.4); }
.s-icon--primary-brd { @include icon-style($color: $color-inorbis-green, $hvr-color: $color-white, $bg: transparent, $hvr-bg: $color-inorbis-green, $brd-width: .0625rem, $brd-style: solid, $brd-color: $color-inorbis-green, $brd-hvr-color: $color-inorbis-green, $line-height: 1.4); }
.s-icon--base-bg { @include icon-style($color: $color-white, $bg: $color-inorbis-green, $line-height: 1.6); }

//---------------
//--- Plan v1
//---------------

.s-plan-v1 {
	&__price-mark,
	&__price-tag {
		color: $color-inorbis-green;
	}
}

//---------------
//--- Promo Block
//---------------

/* Promo Block v2 */
.s-promo-block-v2 {
	@include before {
		@include gradient-horizontal($direction: 145deg, $start-color: rgba($color-blueviolet,.7), $end-color: $color-inorbis-green, $start-percent: -25%, $end-percent: 100%);
	}
}

/* Promo Block v3 */
.s-promo-block-v3 {
	&__divider {
		@include before {
			@include gradient-horizontal($direction: 145deg, $start-color: rgba($color-blueviolet,.9), $end-color: $color-inorbis-green, $start-percent: -25%, $end-percent: 100%);
		}
	}
}


//---------------
//--- Video
//---------------

.video-bg {
	@include before {
		@include gradient-horizontal($direction: 145deg, $start-color: rgba($color-inorbis-green,.8), $end-color: rgba($color-blueviolet,.8), $start-percent: 0, $end-percent: 100%);
	}
}


//---------------
//--- Back To Top
//---------------

.s-back-to-top {
	background: $color-inorbis-green;

  @include hover {
    @include before {
	    color: $color-inorbis-green;
	  }
  }
}


//---------------
//--- Cubeportfolio
//---------------

.s-portfolio__filter-v1 {
	&-item {
		&.cbp-filter-item-active {
			color: $color-inorbis-green !important;
		}
	}
}

//---------------
//--- Image Effect
//---------------

.s-portfolio {
	&__img-effect {
		@include after {
			background: rgba($color-inorbis-green, .95);
		}
	}
}

//---------------
//--- Arrows
//---------------

.s-portfolio__arrow-v1 {
	.cbp-nav {
		&-prev,
		&-next {
			background: $color-inorbis-green;
		}

		&-pagination {
			&-active {
				background: $color-inorbis-green;
			}
		}
	}
}

//---------------
//--- Tab v1
//---------------

.s-tab__filter-v1 {
	&.cbp-filter-item-active {
		color: $color-inorbis-green !important;
	}
}


//---------------
//--- Swiper
//---------------

.s-swiper__pagination-v1 {
	.swiper-pagination-bullet-active {
		background: $color-inorbis-green;
	}

	&--white {
		.swiper-pagination-bullet-active {
			background: $color-inorbis-green;
		}
	}

	&--dark {
		.swiper-pagination-bullet-active {
			background: $color-inorbis-green;
		}
	}
}

.swiper-slide .container {
	background: $color-inorbis-black-35;
	width: 100%; 
}

.swiper-slide-header {
	margin: auto; //--- center header horizontally in container
}

@media (min-width:768px){.swiper-slide-header{width:750px}}
@media (min-width:992px){.swiper-slide-header{width:970px}}
@media (min-width:1200px){.swiper-slide-header{width:1170px}}





//---------------
//--- Border
//---------------

.g-hor-border-1__solid--primary { border-color: $color-inorbis-green; }


//---------------
//--- Box Shadow
//---------------

.g-box-shadow__primary-v1 { box-shadow: 0 .3125rem 1rem 0 rgba($box-shadow-color-black,.2); }


//---------------
//--- Colors
//---------------

.g-color--primary {
	color: $color-inorbis-green !important;
}

.g-color--text[href] {
	@include hover {
		color: $color-inorbis-green !important;
	}
}

.g-color--white-opacity[href] {
	@include hover {
		color: $color-inorbis-green !important;
	}
}

.g-bg-color--primary {
	background: $color-inorbis-green !important;
}

.g-bg-color--sky-light {
    background-color: $color-inorbis-grey !important;
}

.g-bg-color--dark {
	background: $color-inorbis-grey !important;
}

.g-bg-color--dark-light {
	background: $color-inorbis-lightgrey !important;
}
//---------------
//--- Header
//---------------


//---------------
//--- Video
//---------------
video {
  width: 100%;
  height: auto;
}

//---------------
//--- Button Primary
//---------------
.btn-primary {
	color: #fff;
	background-color: $color-inorbis-green;
	border-color: $color-inorbis-green;
}

.btn-primary:hover {
	color: #fff;
	background-color: $color-inorbis-grey;
	border-color:$color-inorbis-green;
}

//---------------
//--- Button White Outline
//---------------
.btn-white-outline {
	background: none;
	border-color: #fff;
	color: #fff;
}

.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline:active,
.btn-white-outline.active {
	color: $color-inorbis-lightgrey;
	background-color: #fff;
	border-color: #fff;
}

.btn-white-outline:hover {
	color: $color-inorbis-lightgrey;
	background-color: #fff;
	border-color: #fff;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
	color: $color-inorbis-lightgrey !important;
	background-color: #fff !important;
	border-color: #fff !important;
	opacity: 0.85;
}

//---------------
//--- Plan
//---------------
.s-plan-v1 em,
li{
	color: $color-inorbis-white !important;
}

//---------------
//--- Phone, Email
//---------------

.inorbis-phone,
.inorbis-email {
	color: $color-inorbis-white !important;
}

.inorbis-phone:hover,
.inorbis-email:hover {
	color: $color-inorbis-green !important;
}

//---
//--- FEEDBACK BUTTON
//---

.feedback-button {
	height:40px; 
	border:solid 3px #CCCCCC; 
	background:#333; 
	width:100px; 
	line-height:32px;
	 -webkit-transform:rotate(-90deg); 
	 font-weight:600; 
	 color:white;
	  transform:rotate(-90deg);  
	  -ms-transform:rotate(-90deg); 
	   -moz-transform:rotate(-90deg); 
	   text-align:center; 
	   font-size:17px;
		position:fixed;
		 right:-40px;
		  top:80%; 
		  font-family: "Roboto", helvetica, arial, sans-serif;
		   z-index:999; 
		}


//---
//--- FOOTER
//---

  .footer-main {
	background-color: $color-inorbis-black-85;
  }

  .s-footer__logo-img {
	width: 100%;
	max-width: 150px;
  }

  //--- LEARN MORE
  .learn-more {
	position: absolute;
	bottom: 0;
	width: 100%;
  }
  .learn-more-bounce {
	  animation: (bounce 2s ease-in-out infinite);
  }

//---
//--- FLEET CONTAINER
//---
.container_fleet {
	height: 200px;
	margin-left: 20px;
	margin-right: 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    position: relative;
    z-index: -2;
    background: inherit;
    overflow: hidden;
}

.container_fleet:before {
	height: 200px;
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.s-portfolio__item {
	width: 100%;
}

//---
//--- FULL PAGE
//---
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background-color: $color-inorbis-lightgrey; //--- navigation dot color
}
