//---------------
//--- InOrbis ---
//---------------

//---------------
//--- Header
//---------------

.s-header__container {
	padding: .0rem 1.875rem;
}

.s-header__navbar {
	background-color: $color-inorbis-grey;
}

.s-header__shrink .s-header__navbar {
	background: $color-inorbis-grey;
}

.s-header__logo {
	width: auto;
}

.s-header__shrink .s-header__logo {
	width: 1.5rem;
	top: 0.2rem;
}

.s-header__shrink .s-header__trigger-icon {
	background: $color-inorbis-white; //--- hamburger
}

//---------------
//--- Footer
//---------------
.s-footer__logo-img {
	width: 6.5rem;
}

.footer-signup-form {

	.footer-signup-row {
		background-color: white;
		color: black;
	}

	.form-control {
		background-color: transparent;
	}

	.s-btn--md {
		font-size: 2rem;
		padding: 0;
	}

	.s-btn {
		background-color: $color-inorbis-green;
		color: white;
		width: 100%;
	}

	h2 {
		color: black;
		text-shadow: 0px 0px white;
		margin-bottom: 0;
	}

	.g-hor-border-1__solid--primary {
		border-width: 0;
		border-color: red;
	}

}

//---
//--- SECTION SIZED TO CONTENT
//---
.fp-section.fp-table,
.fp-slide.fp-table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.fp-tableCell {
	height: auto !important;
}

//---
//--- MODAL LOGIN & REGISTRATION FORM POPUP
//--- 
#modalLRForm {
	position: relative;
	background-color: transparent;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;

	.login-input, .login-btn {
		margin-top: 20px;
		margin-bottom: 20px;	
	}
	.login-btn {
		margin-left: 60px;
		margin-right: 60px;
	}

	input {
		border-color: $color-inorbis-grey;
	}

	label {
		color: $color-inorbis-white;
	}

	p {
		color: $color-inorbis-white;
	}

	.btn-info {
		color: #fff;
		background-color: $color-inorbis-green;
		border-color: $color-inorbis-grey;
	}

	// extra styling
	.page-wrapper {
		text-align: center;
	}

	button.modal-btn {
		border: 1px solid $color-inorbis-green;
		background: #FFF;
		color: $color-inorbis-green;
		padding: 10px 20px;
		font-size: 16px;

		&:hover {
			background: $color-inorbis-green;
			color: #FFF;
		}
	}

	.mfp-close:focus {
		border: 1px solid $color-inorbis-green;
	}

	.modal-content {
		background-color: $color-inorbis-grey-35;
	}

	#modalLRForm {
		background-color: transparent;
	}

	@media (min-width: 768px) {
		.modal-dialog {
			width: auto;
		}
	}

	.btn-google {
		color: white;
		background-color: transparent;
		border-color: rgba(0, 0, 0, .8);
	}
}