body {
  font-family: Montserrat, sans-serif;
  color: white;
  background-color: #232323;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  text-shadow: 2px 2px black;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 0px;
  padding-left: 0px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.vertical-center {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-top {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

/* Typography */
h1 a:focus, h1 a:hover,
h2 a:focus,
h2 a:hover,
h3 a:focus,
h3 a:hover,
h4 a:focus,
h4 a:hover,
h5 a:focus,
h5 a:hover,
h6 a:focus,
h6 a:hover {
  color: #00a069;
}

em > a:hover,
li > a:hover {
  color: #00a069;
}

/* Links */
a {
  color: #00a069;
}

a:focus, a:hover {
  color: #007c52;
}

em > a,
li > a {
  color: white;
}

em > a:hover,
li > a:hover {
  color: #007c52;
}

.text-uppercase-small-caps {
  text-transform: capitalize;
  font-variant: small-caps;
}

::-moz-selection {
  color: #fff;
  background: #00a069;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #00a069;
  text-shadow: none;
}

::-webkit-selection {
  color: #fff;
  background: #00a069;
  text-shadow: none;
}

:active,
:focus {
  outline: none;
}

.s-btn--white-bg {
  color: #222324;
  background: #fff;
}

.s-btn--white-bg:focus, .s-btn--white-bg:hover {
  color: #00a069;
  background: #fff;
}

.s-btn--dark-bg {
  color: #fff;
  background: #222324;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #222324;
}

.s-btn--dark-bg:focus, .s-btn--dark-bg:hover {
  color: #fff;
  background: #00a069;
  border-color: #00a069;
}

.s-btn--primary-bg {
  color: #fff;
  background: #00a069;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #00a069;
}

.s-btn--primary-bg:focus, .s-btn--primary-bg:hover {
  color: #fff;
  background: #00a069;
  border-color: #00a069;
}

.s-btn--primary-brd {
  color: #00a069;
  background: transparent;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #00a069;
}

.s-btn--primary-brd:focus, .s-btn--primary-brd:hover {
  color: #fff;
  background: #00a069;
  border-color: #00a069;
}

.s-icon--white-brd {
  color: #fff;
  background: transparent;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #fff;
  line-height: 1.4;
}

.s-icon--white-brd:focus, .s-icon--white-brd:hover {
  color: #fff;
  background: #00a069;
  border-color: #00a069;
}

.s-icon--white-bg {
  color: #222324;
  background: #fff;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #fff;
  line-height: 1.4;
}

.s-icon--white-bg:focus, .s-icon--white-bg:hover {
  color: #00a069;
  background: #fff;
  border-color: #fff;
}

.s-icon--primary-brd {
  color: #00a069;
  background: transparent;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #00a069;
  line-height: 1.4;
}

.s-icon--primary-brd:focus, .s-icon--primary-brd:hover {
  color: #fff;
  background: #00a069;
  border-color: #00a069;
}

.s-icon--base-bg {
  color: #fff;
  background: #00a069;
  line-height: 1.6;
}

.s-plan-v1__price-mark, .s-plan-v1__price-tag {
  color: #00a069;
}

/* Promo Block v2 */
.s-promo-block-v2:before {
  background-image: linear-gradient(145deg, rgba(152, 119, 234, 0.7) -25%, #00a069 100%);
  background-repeat: repeat-x;
}

/* Promo Block v3 */
.s-promo-block-v3__divider:before {
  background-image: linear-gradient(145deg, rgba(152, 119, 234, 0.9) -25%, #00a069 100%);
  background-repeat: repeat-x;
}

.video-bg:before {
  background-image: linear-gradient(145deg, rgba(0, 160, 105, 0.8) 0, rgba(152, 119, 234, 0.8) 100%);
  background-repeat: repeat-x;
}

.s-back-to-top {
  background: #00a069;
}

.s-back-to-top:hover:before {
  color: #00a069;
}

.s-portfolio__filter-v1-item.cbp-filter-item-active {
  color: #00a069 !important;
}

.s-portfolio__img-effect:after {
  background: rgba(0, 160, 105, 0.95);
}

.s-portfolio__arrow-v1 .cbp-nav-prev, .s-portfolio__arrow-v1 .cbp-nav-next {
  background: #00a069;
}

.s-portfolio__arrow-v1 .cbp-nav-pagination-active {
  background: #00a069;
}

.s-tab__filter-v1.cbp-filter-item-active {
  color: #00a069 !important;
}

.s-swiper__pagination-v1 .swiper-pagination-bullet-active {
  background: #00a069;
}

.s-swiper__pagination-v1--white .swiper-pagination-bullet-active {
  background: #00a069;
}

.s-swiper__pagination-v1--dark .swiper-pagination-bullet-active {
  background: #00a069;
}

.swiper-slide .container {
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
}

.swiper-slide-header {
  margin: auto;
}

@media (min-width: 768px) {
  .swiper-slide-header {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .swiper-slide-header {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .swiper-slide-header {
    width: 1170px;
  }
}

.g-hor-border-1__solid--primary {
  border-color: #00a069;
}

.g-box-shadow__primary-v1 {
  -webkit-box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.g-color--primary {
  color: #00a069 !important;
}

.g-color--text[href]:hover {
  color: #00a069 !important;
}

.g-color--white-opacity[href]:hover {
  color: #00a069 !important;
}

.g-bg-color--primary {
  background: #00a069 !important;
}

.g-bg-color--sky-light {
  background-color: #232323 !important;
}

.g-bg-color--dark {
  background: #232323 !important;
}

.g-bg-color--dark-light {
  background: #353535 !important;
}

video {
  width: 100%;
  height: auto;
}

.btn-primary {
  color: #fff;
  background-color: #00a069;
  border-color: #00a069;
}

.btn-primary:hover {
  color: #fff;
  background-color: #232323;
  border-color: #00a069;
}

.btn-white-outline {
  background: none;
  border-color: #fff;
  color: #fff;
}

.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline:active,
.btn-white-outline.active {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}

.btn-white-outline:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #353535 !important;
  background-color: #fff !important;
  border-color: #fff !important;
  opacity: 0.85;
}

.s-plan-v1 em,
li {
  color: white !important;
}

.inorbis-phone,
.inorbis-email {
  color: white !important;
}

.inorbis-phone:hover,
.inorbis-email:hover {
  color: #00a069 !important;
}

.feedback-button {
  height: 40px;
  border: solid 3px #CCCCCC;
  background: #333;
  width: 100px;
  line-height: 32px;
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  color: white;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -40px;
  top: 80%;
  font-family: "Roboto", helvetica, arial, sans-serif;
  z-index: 999;
}

.footer-main {
  background-color: rgba(0, 0, 0, 0.85);
}

.s-footer__logo-img {
  width: 100%;
  max-width: 150px;
}

.learn-more {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.learn-more-bounce {
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

.container_fleet {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: -2;
  background: inherit;
  overflow: hidden;
}

.container_fleet:before {
  height: 200px;
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  margin: -20px;
}

.s-portfolio__item {
  width: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #353535;
}

.s-header__container {
  padding: .0rem 1.875rem;
}

.s-header__navbar {
  background-color: #232323;
}

.s-header__shrink .s-header__navbar {
  background: #232323;
}

.s-header__logo {
  width: auto;
}

.s-header__shrink .s-header__logo {
  width: 1.5rem;
  top: 0.2rem;
}

.s-header__shrink .s-header__trigger-icon {
  background: white;
}

.s-footer__logo-img {
  width: 6.5rem;
}

.footer-signup-form .footer-signup-row {
  background-color: white;
  color: black;
}

.footer-signup-form .form-control {
  background-color: transparent;
}

.footer-signup-form .s-btn--md {
  font-size: 2rem;
  padding: 0;
}

.footer-signup-form .s-btn {
  background-color: #00a069;
  color: white;
  width: 100%;
}

.footer-signup-form h2 {
  color: black;
  text-shadow: 0px 0px white;
  margin-bottom: 0;
}

.footer-signup-form .g-hor-border-1__solid--primary {
  border-width: 0;
  border-color: red;
}

.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  height: auto !important;
}

#modalLRForm {
  position: relative;
  background-color: transparent;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#modalLRForm .login-input, #modalLRForm .login-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#modalLRForm .login-btn {
  margin-left: 60px;
  margin-right: 60px;
}

#modalLRForm input {
  border-color: #232323;
}

#modalLRForm label {
  color: white;
}

#modalLRForm p {
  color: white;
}

#modalLRForm .btn-info {
  color: #fff;
  background-color: #00a069;
  border-color: #232323;
}

#modalLRForm .page-wrapper {
  text-align: center;
}

#modalLRForm button.modal-btn {
  border: 1px solid #00a069;
  background: #FFF;
  color: #00a069;
  padding: 10px 20px;
  font-size: 16px;
}

#modalLRForm button.modal-btn:hover {
  background: #00a069;
  color: #FFF;
}

#modalLRForm .mfp-close:focus {
  border: 1px solid #00a069;
}

#modalLRForm .modal-content {
  background-color: rgba(35, 35, 35, 0.35);
}

#modalLRForm #modalLRForm {
  background-color: transparent;
}

@media (min-width: 768px) {
  #modalLRForm .modal-dialog {
    width: auto;
  }
}

#modalLRForm .btn-google {
  color: white;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.8);
}
/*# sourceMappingURL=inorbis-secondary.css.map */